<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 Error</title>
</head>
<body id="error-page">

    <div class="container" fluid>
        <row class="row justify-content-center">
            <h1 id="notFound">404</h1>
        </row>
        <row class="row justify-content-center">
           <h2 id="nothing">there's nothing here</h2>
        </row>
    </container>
</body>
</html>
