<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>SHMOOD</title>
</head>

<body>

    <div class="container-fluid">
        <div id="header">

        </div>

        <!-- Image display columns -->
        <div class="row justify-content-center">
            <div class="col-10" id="grid">
               
            </div>

            <!-- Sidebar, conditionally changes based on login/logout -->
            <div class="col-1" id="sidebar">
               
            </div>
            
        </div>
    </div>
    <script src="/assets/bundle.js"></script>
    <script src="/assets/mainBundle.js"></script>
</body>

</html>