<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>SHMOOD</title>
</head>

<body class="login-signup-page">

  <!-- Card --> 
  <div class="container" fluid>
    <div id="signup" class="row">
      
    </div>
  </div>
  <script src="/assets/bundle.js"></script>
</body>

</html>