<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{ name }}</title>
</head>

<body>

    <div class="container-fluid">
        <div id="header">
            
        </div>>

        <!-- Image display columns -->
        <div class="row justify-content-center">
            <div class="col-10" id="grid">

            </div>

            <!-- Sidebar, always the same due to requiring login for the page -->
            <div class="col-1" id="sidebar">

            </div>
        </div>
        <script src="/assets/bundle.js"></script>
</body>

</html>